---
# name of the action
name: prerelease

# trigger on push events with `v*` in tag
on:
  push:
    tags:
      - "v*"

# pipeline to execute
jobs:
  prerelease:
    runs-on: ubuntu-latest

    steps:
      - name: clone
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          # ensures we fetch tag history for the repository
          fetch-depth: 0

      - name: install go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          # use version from go.mod file
          go-version-file: "go.mod"
          cache: true
          check-latest: true

      - name: setup
        run: |
          # setup git tag in Actions environment
          echo "GITHUB_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: build
        env:
          GOOS: linux
          CGO_ENABLED: "0"
        run: |
          make build-static-ci

      - name: publish
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: target/vela-k6
          cache: true
          tag_names: true
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
